{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   

    <form class="form" action="/send-documents-d" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
      name: "sendDocs",
      value: data['get-update'],
      fieldset: {
      legend: {
      html: '<span class="govuk-caption-l"> Send documents to the court</span><h1 class="govuk-heading-l" style="margin-bottom: 10px;">What do you want to do?</h1> ',
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
      }
      },
      items: [
      {
      value: "01-enf",
      text: "Send enforcement requests"
      },
      {
      value: "02-claim",
      text: "Send claim evidence"
      }
      ]
    }) }}


     


      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <a class="govuk-link" href="000-dashboard.html">Cancel</a>
      </div>


  </div>


  </form>

</div>
</div>

{% endblock %}