{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">




    <span class="govuk-caption-l">Get an update on my case</span>
    <h1 class="govuk-heading-l">Understand what happens if the judgment is not paid</h1>

    <hr class="govuk-section-break govuk-section-break--m">



    <p class="govuk-body">
      If the defendant has not paid the judgment, the claimant can try and get their money by asking the court to target
      different aspects of the defendant’s assets. This is called 'enforcing the judgment'. The court can use:

    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a warrant of control - for goods owned by the defendant</li>
      <li>an attachment of earnings order - for the defendant’s wages</li>
      <li>a third-party debt order - for the defendant’s savings</li>
      <li>a charging order - for the defendant’s assets</li>
    </ul>

    <p class="govuk-body">
      Find more detail about <a
        href="https://www.gov.uk/government/publications/what-to-do-if-a-defendant-doesnt-pay-money-after-judgment-ex321"
        class="govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">what to do if a defendant does
        not pay money after a judgement (opens in a new window)</a>.
    </p>





    <h2 class="govuk-heading-s">Fees</h2>


    <p class="govuk-body">
      You will have to pay a fee when you ask the court to enforce the judgment, the amount depends on the method you
      select. Find out <a
        href="https://www.gov.uk/government/publications/fees-in-the-civil-and-family-courts-main-fees-ex50/civil-court-fees-ex50"
        class="govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">about civil court fees (opens in a new window)</a>.
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Anything else</h2>
    <p class="govuk-body">
      If you still need help on your claim, you can send a message to the court.
    </p>

    <p class="govuk-body">
      It takes at least 10 days for the court to respond to a message. </p>



    <p class="govuk-body">
      <a href="0000-raise-query.html" class="govuk-link govuk-link--no-visited-state">Send message</a>
    </p>

    <hr class="govuk-section-break govuk-section-break--m">


    <form action="000-dashboard" method="post" novalidate>


      <button type="submit" class="govuk-button" data-module="govuk-button" style="display:block; margin-bottom: 20px;">
        Close and return to case details
      </button>



    </form>


  </div>
</div>

{% endblock %}