{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">




    <span class="govuk-caption-l">Solve a problem I am having using the Money Claims system</span>
    <h1 class="govuk-heading-l">Submit a response </h1>

    <hr class="govuk-section-break govuk-section-break--m">


    <h2 class="govuk-heading-m">Get support to respond </h2>

    <p class="govuk-body">
      If you cannot submit a response using the Money claims system you should contact the court for help.
    </p>


      
    <p class="govuk-body">
     
      If the issue is not urgent, you can 
      
            <a href="0000-raise-query.html"
            class="govuk-link--no-visited-state">send a message to the court</a>,  it can take up to 10 days for the court to respond.
        </p>


           
    <p class="govuk-body">
     
      If the issue is urgent, you should call the court handling your case. Find the 
      
            <a href="https://www.gov.uk/find-court-tribunal"
            class="govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">contact details for the court (opens in a new window)</a>.
        </p>


       






  
  
      <hr class="govuk-section-break govuk-section-break--m">
  
  
      <form action="000-dashboard" method="post" novalidate>
  
  
        <button type="submit" class="govuk-button" data-module="govuk-button" style="display:block; margin-bottom: 20px;">
          Close and return to case details
        </button>
  
  
  
      </form>


  </div>
</div>

{% endblock %}