{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <form class="form" action="001-07-multiple-applications" method="post">

      <span class="govuk-caption-l">More time to do what’s required by a court order</span>
      <h1 class="govuk-heading-l">Why are you requesting this order?</h1>

      <p class="govuk-body"> The information you enter on this page will be seen by the other parties. </p>
      <p class="govuk-body"> 
      

You should explain why you’re not going to meet the original deadline. You'll have the option to upload documents to support your reasons on the next screen. </p>

     
        {{ govukTextarea({
          name: "reasons",
          id: "reasons",
          label: {
            text: "Enter your reasons for requesting this order",
            classes: "govuk-label--s",
            isPageHeading: true
          }
        }) }}

        

   


      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <a class="govuk-link" href="000-dashboard.html">Cancel</a>
      </div>


  



  </div>


  </form>

</div>
</div>

{% endblock %}