{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}


<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      New email
    </h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style=" width: 80px; ">
          From:
        </dt>
        <dd class="govuk-summary-list__value">
          HM Courts & Tribunals Service Civil Claims
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style=" width: 80px; ">
          To:
        </dt>
        <dd class="govuk-summary-list__value">
          You
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style=" width: 80px; ">
          Subject:
        </dt>
        <dd class="govuk-summary-list__value">
          Your message has been sent to the court
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt style=" width: 900px; margin-top: 30px; margin-bottom: 30px;">
          <p class="govuk-body"> Your message has been sent to the court.</p>
          <p class="govuk-body"> It will take up to 10 days for the court to respond.</p>
          <p class="govuk-body"> You will be notified when the court responds.</p>
          <p class="govuk-body"> You can <a class="govuk-link govuk-link--no-visited-state" href="/"> view the message
              on your dashboard </a>.</p>

    
        </dt>

        <dt style=" width: 900px; margin-top: 50px; margin-bottom: 30px;">
          <p class="govuk-body"> 
            Online Civil Claims team <br> HM Courts and Tribunals Service
        </p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


        <dt style=" width: 900px; margin-top: 30px; margin-bottom: 30px;">
          <p class="govuk-body" style="margin-bottom: 0px;"> Email for Specified Claims: <a class="govuk-link govuk-link--no-visited-state" href="/">  contactocmc@justice.gov.uk  </a></p>
          <p class="govuk-body" > Email for Damages Claims: <a class="govuk-link govuk-link--no-visited-state" href="/">  ccmcccustomerenquiries@justice.gov.uk </a></p>
        </dt>


        <dt style=" width: 900px; margin-top: 30px; margin-bottom: 30px;">
          <p class="govuk-body" style="margin-bottom: 0px;">Telephone: 0300 123 7050 </p>
          <p class="govuk-body" style="margin-bottom: 0px;">Hours: 8.30am to 5pm, Monday to Friday  </p>


          <p class="govuk-body" > Find out about call charges <a class="govuk-link govuk-link--no-visited-state" href="/"> https://www.gov.uk/call-charges </a></p>
        </dt>


        


      
      </div>



    </dl>
  </div>
</div>

<a href="010-00-dashboard-after-query.html" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener"
  target="_blank">Back to dashboard</a>




{% endblock %}