{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <h1 class="govuk-heading-l">Need more information on my options</h1>


    <dl class="govuk-summary-list govuk-summary-list--no-border">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Message details
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body"> I'm worried that the person I am claiming agaisnt still isn't going to pay. I have
            applied for a judgment but I want to know what my options are if they do not send me the money?</p>


        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Is the message hearing related?

        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">No</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Attachments

        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">No documents uploaded</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sent by
        </dt>
        <dd class="govuk-summary-list__value">
          You
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sent on
        </dt>
        <dd class="govuk-summary-list__value">
          04 Feb 2025, 11.59
        </dd>
      </div>
    </dl>







    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



    <dl class="govuk-summary-list govuk-summary-list--no-border">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Message details
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body"> I haven't heard anything back - please can I have an update on my message as soon as
            possible</p>


        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Attachments

        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">No documents uploaded</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sent by
        </dt>
        <dd class="govuk-summary-list__value">
          You
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sent on
        </dt>
        <dd class="govuk-summary-list__value">
          05 Feb 2025, 09.46
        </dd>
      </div>
    </dl>




    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    <dl class="govuk-summary-list govuk-summary-list--no-border">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Response
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body"> Dear ((Name))</p>
          <p class="govuk-body"> You wrote to ask what steps you could take as you have a judgment against the defendant
            which they have not paid. <br>
            You can choose to enforce the judgement by asking the court to target different aspects of the defendant’s
            assets to get your money. The court can use:</p>
          <p class="govuk-body">
          <ul class="govuk-list govuk-list--bullet">
            <li>a warrant of control - for goods owned by the defendant
            </li>
            <li>an attachment of earnings order - for the defendant’s wages
            </li>
            <li>a third-party debt order - for the defendant’s savings
            </li>
            <li>a charging order - for the defendant’s assets

            </li>
          </ul>
          </p>

          <p class="govuk-body">If you are owed £5,000 or more, you can also ,

            <a href="https://www.gov.uk/apply-to-bankrupt-someone" class="govuk-link govuk-link--no-visited-state">apply to make the defendant bankrupt </a> however,
            this can be expensive.

          </p>
          <p class="govuk-body"> The court cannot guarantee you will get your money back, and you will have to pay a fee
            for any action you take. Although the court will add the fee to the money the defendant already owes, the
            court cannot return what you have paid if you do not get your money from the defendant, or if the court
            refuses your application.
          </p>

          <p class="govuk-body">To find out more about what do if you have a judgment but the defendant has not paid,
            visit:

            <a href="https://www.gov.uk/government/publications/what-to-do-if-a-defendant-doesnt-pay-money-after-judgment-ex321/what-to-do-if-you-have-a-judgement-but-the-defendant-has-not-paid-ex321"
              class="govuk-link govuk-link--no-visited-state">https://www.gov.uk/government/publications/what-to-do-if-a-defendant-doesnt-pay-money-after-judgment-ex321/what-to-do-if-you-have-a-judgement-but-the-defendant-has-not-paid-ex321</a>

          </p>

          <p class="govuk-body"> HM Courts and Tribunals Service

          </p>
          <p class="govuk-body"> Email:  <a href="" class="govuk-link govuk-link--no-visited-state"> contactocmc@justice.gov.uk</a>
<br> Telephone: 0300 123 7050
<br> Hours: 8.30am to 5pm, Monday to Friday
<br> Find out about call charges <a href="" class="govuk-link govuk-link--no-visited-state"> https://www.gov.uk/call-charges</a>


          </p>
          



        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Attachments

        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">
         No documents uploaded
          </p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sent by
        </dt>
        <dd class="govuk-summary-list__value">
          HMCTS staff
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sent on
        </dt>
        <dd class="govuk-summary-list__value">
          13 Feb 2025, 08.22
        </dd>
      </div>
    </dl>




    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">




    <form class="form" action="010-24-query-list-after-reading-response" method="post">

      <div class="govuk-button-group">
        <!-- Return to messages list button -->
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Return to messages list
        </button>

        <!-- Send message button with specific page action -->
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" formaction="">
          Send a follow up message
        </button>
      </div>


    </form>

  </div>
</div>

{% endblock %}