{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">




    <span class="govuk-caption-l">Manage hearing details</span>
    <h1 class="govuk-heading-l">Change hearing details</h1>

    <hr class="govuk-section-break govuk-section-break--m">

    <p class="govuk-body">
      You can apply to change the details of the hearing, such as: 
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>  the location </li>
      <li>the hearing type - in person or video hearing</li>
    </ul>


      
    <p class="govuk-body">
     
      You have to 
      
            <a href="001-01-gen-app-start.html"
            class="govuk-link--no-visited-state">apply to the court</a> to ask for the court to consider changing the hearing details.
        </p>


  




   
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Anything else</h2>
    <p class="govuk-body">
      If you still need help with your claim, you can send a message to the court.
    </p>

    <p class="govuk-body">
      It takes at least 10 days for the court to respond to a message. </p>



      <p class="govuk-body">
        <a href="0000-raise-query.html" class="govuk-link govuk-link--no-visited-state">Send message</a>
      </p>
  
      <hr class="govuk-section-break govuk-section-break--m">
  
  
      <form action="000-dashboard" method="post" novalidate>
  
  
        <button type="submit" class="govuk-button" data-module="govuk-button" style="display:block; margin-bottom: 20px;">
          Close and return to case details
        </button>
  
  
  
      </form>


  </div>
</div>

{% endblock %}