{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

   
  
    <h1 class="govuk-heading-l">Requesting an urgent update</h1>


    <dl class="govuk-summary-list govuk-summary-list--no-border">
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Message details
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body"> I made an application 12 days ago but I haven't received any updates. I would like to know what is happening and whether is has been received? Please can you help.</p>

         
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Is the message hearing related?

        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">No</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Attachments

        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">No documents uploaded</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sent by
        </dt>
        <dd class="govuk-summary-list__value">
         You
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sent on
        </dt>
        <dd class="govuk-summary-list__value">
         04 Feb 2025, 11.59	
        </dd>
      </div>
    </dl>




    
    
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Message details
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body"> I haven't heard anything back - please can I have an update on my message as soon as possible</p>

         
        </dd>
      </div>
      
     
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Attachments

        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">No documents uploaded</p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sent by
        </dt>
        <dd class="govuk-summary-list__value">
         You
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sent on
        </dt>
        <dd class="govuk-summary-list__value">
          05 Feb 2025, 09.46
        </dd>
      </div>
    </dl>
         
         


      
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <dl class="govuk-summary-list govuk-summary-list--no-border">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Response
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body"> Dear ((Name))</p>


          <p class="govuk-body">There are no further updates on your claim.
 </p>



 <p class="govuk-body">To track the progress of your claim, <a href="010-21-dashboard-after-response.html" class="govuk-link govuk-link--no-visited-state">your dashboard</a> has the most up to date information.
  You can check current average times to progress claims on  <a href="https://www.gov.uk/guidance/civil-processing-dates" class="govuk-link govuk-link--no-visited-state">https://www.gov.uk/guidance/civil-processing-dates</a> </p>


          <p class="govuk-body"> HM Courts and Tribunals Service

          </p>
          <p class="govuk-body"> Email: <a href="" class="govuk-link govuk-link--no-visited-state">
              contactocmc@justice.gov.uk</a>
            <br> Telephone: 0300 123 7050
            <br> Hours: 8.30am to 5pm, Monday to Friday
            <br> Find out about call charges <a href="" class="govuk-link govuk-link--no-visited-state">
              https://www.gov.uk/call-charges</a>


          </p>




        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Attachments

        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">
            No documents uploaded
          </p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sent by
        </dt>
        <dd class="govuk-summary-list__value">
          HMCTS staff
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sent on
        </dt>
        <dd class="govuk-summary-list__value">
          13 Feb 2025, 08.22
        </dd>
      </div>
    </dl>



      
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">




    <form class="form" action="010-24-query-list-after-reading-response" method="post">

      <div class="govuk-button-group">
        <!-- Return to messages list button -->
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Return to messages list
        </button>
        
        <!-- Send message button with specific page action -->
        <button type="submit" class="govuk-button govuk-button--secondary" 
          data-module="govuk-button" formaction="">
          Send a follow up message
        </button>
      </div>


  </form>

</div>
</div>

{% endblock %}