{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <form class="form" action="001-09-app-arrangements" method="post">

   

        {{ govukRadios({
          name: "addApp",
          fieldset: {
            legend: {
              html: '<span class="govuk-caption-l"> Change a hearing date </span>
        <h1 class="govuk-heading-l" style="margin-bottom: 10px;"> Do you want to upload documents to support your application? (Optional)</h1> ',
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "If you've selected multiple applications, you should upload documents that relate to all of them."
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}


      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <a class="govuk-link" href="000-dashboard.html">Cancel</a>
      </div>


  



  </div>


  </form>

</div>
</div>

{% endblock %}