{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">




    <span class="govuk-caption-l">Send an update on my case</span>
    <h1 class="govuk-heading-l">Settle a claim</h1>

    <hr class="govuk-section-break govuk-section-break--m">

    <h2 class="govuk-heading-s">If the claim is paid or you agree the balance is settled</h2>



    <p class="govuk-body">
      Update the claim in the online service to say the claim is settled, do that by selecting 

      <a href="/"
      class="govuk-link--no-visited-state"> Tell us you’ve settled the claim</a>.
  </p>


    <p class="govuk-body">
      You can also email <a href="mailto:  contactocmc@justice.gov.uk"
        class="govuk-link--no-visited-state"> contactocmc@justice.gov.uk</a> to say the claim is settled, you should include:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>your name</li>
      <li>the claim number</li>
      <li>the date the final payment cleared in your account</li>
    </ul>



    <h2 class="govuk-heading-s">Claims settled through a small claims mediatorv</h2>



    <p class="govuk-body">
      If a mediator settled your claim, the mediator will update your case record for you.
  </p>



   
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Anything else</h2>
    <p class="govuk-body">
      If you still need help with your claim, you can send a message to the court.
    </p>

    <p class="govuk-body">
      It takes at least 10 days for the court to respond to a message. </p>



    <p class="govuk-body">
      <a href="0000-raise-query.html" class="govuk-link govuk-link--no-visited-state">Send message</a>
    </p>


    <div class="govuk-button-group" style="margin-top: 50px;">
      <button type="submit" class="govuk-button" data-module="govuk-button" disabled>
        Continue
      </button>
      <a class="govuk-link" href="000-dashboard.html">Cancel</a>
    </div>



  </div>
</div>

{% endblock %}