{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h3 class="govuk-heading-l">
      Prototype
    </h3>


    <h3 class="govuk-heading-s">
      Claimant
    </h3>
    <p class="govuk-body"> <a href="claimant/b/000-dashboard.html"
        class="govuk-link govuk-link--no-visited-state">Scenario 1 </a></p>
    <p class="govuk-body"> <a href="claimant/c/000-dashboard.html"
        class="govuk-link govuk-link--no-visited-state">Scenario 2A </a></p>
    <p class="govuk-body"> <a href="claimant/c/010-00-mail-after-response.html"
        class="govuk-link govuk-link--no-visited-state"> Scenario 2B </a></p>


    <h3 class="govuk-heading-s">
      Defendant
    </h3>
    <p class="govuk-body"> <a href="defendant/a/000-dashboard.html"
        class="govuk-link govuk-link--no-visited-state">Scenario 1 </a></p>
    <p class="govuk-body"> <a href="defendant/d/000-dashboard.html"
        class="govuk-link govuk-link--no-visited-state">Scenario 2A </a></p>
    <p class="govuk-body"> <a href="defendant/d/010-00-mail-after-response.html"
        class="govuk-link govuk-link--no-visited-state"> Scenario 2B </a></p>

    <!-- 

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h3 class="govuk-heading-l">
      Wednesday
     </h3>

     <h3 class="govuk-heading-s">
      Claimant
      </h3>

      <p class="govuk-body"> <a href="claimant/b/000-dashboard.html" class="govuk-link govuk-link--no-visited-state">Scenario 1 (gen app, ask for more time) </a></p>    
      <p class="govuk-body"> <a href="claimant/c/000-dashboard.html" class="govuk-link govuk-link--no-visited-state">Scenario 2A (send and follow up, application) </a></p>
      <p class="govuk-body"> <a href="claimant/c/010-00-mail-after-response.html" class="govuk-link govuk-link--no-visited-state">Scenario 2B (response, application) </a></p>



     <h3 class="govuk-heading-s">
      Defendant
       </h3>
 
     <p class="govuk-body"> <a href="defendant/b/000-dashboard.html" class="govuk-link govuk-link--no-visited-state">Scenario 1 (gen app, ask for more time)</a></p>
     <p class="govuk-body"> <a href="defendant/c/000-dashboard.html" class="govuk-link govuk-link--no-visited-state">Scenario 2A (send and follow up, application) </a></p>
     <p class="govuk-body"> <a href="defendant/c/010-00-mail-after-response.html" class="govuk-link govuk-link--no-visited-state">Scenario 2B (response, application) </a></p>

 



     <!-- I want to section 
    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
    -->
  </div>
</div>

{% endblock %}